@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url("reset.css");
@import url("grid.css");
@import url("icons.css");
@import url("bxslider.css");

#go-top {
	width: 65px;
	height: 65px;
	border-radius: 100px;
	background: #9ed8f2;
	position: fixed;
	bottom: 60px;
	right: 60px;
	text-align: center;
	color: #005167;
	padding-top: 20px;
	font-size: 25px;
	line-height: 20px;
	display: none;
}


.bt-default {
	display: block;
	padding: 16px 35px;
	text-transform: uppercase;
	color: #01567d;
	background: #fff;
	border: 1px solid #01567d;
	border-radius: 10px;
	text-align: center;
	font-weight: 300;
	font-size: 22px;
	line-height: 22px;
	-webkit-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.bt-default:hover {
	color: #fff;
	background: #01567d;
	border: 1px solid #01567d;
}

.block-titles {
	display: block;
	position: relative;
	color: #005167;
	font-size: 34px;
	line-height: 34px;
	font-weight: 300;
	height: 50px;
	text-transform: uppercase;
	text-align: center;
	margin: 107px auto 37px auto
}

.block-titles:after {
	content: " ";
	display: block;
	width: 152px;
	height: 6px;
	position: absolute;
	bottom: 0px;
	right: 50%;
	margin-right: -76px;
	background: #9ed8f2;
}

.controlers>span {
	font-size: 23px;
	width: 20px;
	height: 23px;
	position: absolute;
	top: 50%;
	z-index: 14;
	color: #005167;
	margin-top: -10px;
}

.controlers span a {
	color: #005167;
}

.controlers>span:first-child {
	left: -15px;
}

.controlers>span:last-child {	
	right: -15px;
}

.main-header .menu-top {
	background: #6c8d9d;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 24.5px 0;
	text-align: center;
}
.main-header .menu-top a {
	color: #fff;
}
.main-header .menu-top a:hover {
	text-decoration: underline;
}

body.scrolled .main-header {
	margin-bottom: 122px;
}

.main-header .menu-mid {
	padding: 33.5px 0;
	background: #fff;

}
body.scrolled  .main-header .menu-mid {
	padding: 17.5px 0;
}
.main-header .menu-mid li {
	float: left;
}

.main-header .menu-mid .logo {
	width: 280px;
	position: relative;
	top: 3px;
}

.main-header .menu-mid .logo a{
	font-size: 51px;
	line-height: 51px;
	color: #01567d;
	padding: 0 30px 0 0;
	display: block;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

body.scrolled .main-header .menu-mid .logo a {
	font-size: 36px;
	line-height: 36px;
}

.main-header .menu-mid .logo h1 {
	display: none;
}


.main-header .menu-mid .search {
	position: relative;
	top: 7px;
	width: 301px;
	float: right;
	margin: 0px ;
}

body.scrolled .main-header .menu-mid .search {
	display: none;
}

.main-header .menu-mid .search input[type="text"] {
	border: 1px solid #d1cccc;
	font-size: 12px;
	border-radius: 10px;
	width: 301px;
	height: 43px;
	display: block;
	float: left;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	outline: none;
	padding: 5px 40px 5px 15px;
	background: #fff;
}

.main-header .menu-mid .search button {
	width: 23px;
	height: 23px;
	background: transparent;
	border: 0px none;
	font-size: 23px;
	line-height: 23px;
	display: block;
	float: left;
	outline: none;
	color: #d1cccc;
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 2;
	cursor: pointer;
}

.main-header .menu-mid .main-links {
	display: none;
	float: right;
	font-weight: 300;
	font-size: 13px;
	color: #6c8d9d;
	text-transform: uppercase;
	margin-top: 13px;
}
.main-header .menu-mid .main-links a {
	color: #6c8d9d;
	margin-right: 55px;
}
.main-header .menu-mid .main-links a:last-child {
	margin-right: 0px;
}
.main-header .menu-mid .main-links a:hover {
	text-decoration: underline;
}
body.scrolled .main-header .menu-mid .main-links {
	display: block;
}

.main-header .menu-down {
	background: #005167;
}

.main-header .menu-down .main-menu>ul {
	text-align: center;
}

.main-header .menu-down .main-menu>ul>li {
	display: inline-block;
	position: relative;
}
.main-header .menu-down .main-menu>ul>li:after {
	width: 2px;
	height: 39px;
	position: absolute;
	background: #9ed8f2;
	display: block;
	content: "";
	top: 12px;
	left: -1px;
}

.main-header .menu-down .main-menu>ul>li:first-child:after {
	background: #005167;
}
.main-header .menu-down .main-menu>ul>li>a {
	display: block;
	color: #fff;
	font-size: 15px;
	padding: 23px 32px; 
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.main-header .menu-down .main-menu>ul>li>a:after {
	display:block;
	content:attr(title);
	font-weight:900;
	height:0px;
	color:black;
	overflow:hidden;
	visibility:hidden;
}

body.scrolled .main-header .menu-down .main-menu>ul>li>a {
	font-size: 13px;
	padding: 16px 32px;
}

body.scrolled .main-header .menu-down .main-menu>ul>li:after {
	height: 30px;
	top: 10px;
}

.main-header .menu-down .main-menu>ul li a:hover, .main-header .menu-down .main-menu>ul li:hover {
	font-weight: 900;
}

.main-header .menu-down .main-menu>ul li ul {
	display: none;
	background: #fff;
	padding: 0 22px;
	position: absolute;
	top: 64px;
	left: -1px;
	z-index: 3;
}

body.scrolled .main-header .menu-down .main-menu>ul li ul {
	top: 47px;	
}

.main-header .menu-down .main-menu>ul li ul li {
	display: block;
	width: 160px;
	border-bottom: 1px solid #c5e8f7;
	font-weight: initial;
	text-transform: uppercase;
}
.main-header .menu-down .main-menu>ul li ul li:last-child {
	border-bottom: 1px solid #fff;
}
.main-header .menu-down .main-menu>ul li ul li a {
	display: block;
	padding: 11px 6px;
	text-align: left;
	color: #6f7172;
	font-size: 16px;
	-webkit-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

body.scrolled .main-header .menu-down .main-menu>ul li ul li a {
	font-size: 13px;
}

.main-header .menu-down .main-menu>ul li ul li a:hover {
	font-weight: 900px;
}
.main-header .menu-down .main-menu>ul li:hover ul {
	display: block;	
}


body.scrolled .main-header .menu-mid, body.scrolled .main-header .menu-down {
	position: fixed;
	width: 100%;
	z-index: 999;
}

body.scrolled .main-header .menu-mid {
	top: 0px;
}
body.scrolled .main-header .menu-down {
	top: 75px;
}

.main-footer {
	background: #005167;
	margin-top: 0px;
	padding: 70px 0;
}

.main-footer .footer-top h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px; 
	display: block;
	border-bottom: 1px solid #9ed8f2;
}
.main-footer .footer-top .mapa .col:first-child {
	margin-left: 0px;
}

.main-footer .footer-top .mapa .col:last-child {
	margin-right: 0px;
}
.main-footer .footer-top .mapa ul {
	padding-top: 25px;
}
.main-footer .footer-top .mapa ul li a {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}
.main-footer .footer-top .mapa ul li a:hover {
	text-decoration: underline;
}
.main-footer .footer-top .mapa ul li:first-child a {
	font-weight: 700;
	line-height: 24px;
	color: #9ed8f2;
}
.main-footer .footer-top .social ul {
	padding-top: 25px;
}
.main-footer .footer-top .social li {
	display: inline-block;
	margin: 0 15px;
}
.main-footer .footer-top .social li a {
	font-size: 25px;
	line-height: 25px;
	display: block;
	color: #fff;
	-webkit-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}
.main-footer .footer-top .social li a:hover {
	color: #9ed8f2;
}

.main-footer .footer-bottom .line-top {
	margin-top: 45px;
	padding-top: 15px;
	border-top: 1px solid #9ed8f2;
}
.main-footer .footer-bottom .line-top a {
	color: #fff;
}

.main-footer .footer-bottom .line-top .col:first-child {
	padding-top: 15px;
	margin-left: 0px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}

.main-footer .footer-bottom .line-top .col:last-child {
	margin-right: 0px;
	font-size: 46px;
	float: right;
	text-align: right;
}

.main-banner {
	background-color: #788999; 
	height: 424px;
	background-position: 50% 50%;
	background-repeat: no-repeat; 
	position: relative;
}
.main-banner .youtube-opening {
	display: none;
}

.main-banner .baner-50 {
	width: 50%;
	display: block;
	float: left;
}

.main-banner .baner-50.single-mid {
	margin-left: 106px;
}

.main-banner .baner-33 {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.main-banner li {
	position: relative;
	height: 424px;
}

.main-banner li h2 {
	font-size: 36px;
	line-height: 55px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 55px;
	position: relative;
	z-index: 3;
}

.main-banner li h3 {
	font-size: 25px;
	line-height: 36px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 50px;
	position: relative;
	z-index: 3;
	letter-spacing: -0.5px;
}

.main-banner li .photo-banner {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 424px;
	left: 0px;
	top: 0px;
}

.main-banner .bt-default {
	position: relative;
	z-index: 3;
}

.main-banner a#pause-opening {
	color: #fff;
}

.main-banner .controlers>span:first-child {
	left: -30px;
}

.main-banner.controlers>span:last-child {	
	right: -30px;
}
.main-banner #opening-banner {
	position: absolute;
	top: 0px;
	left: 0px;
	border:0px;
	z-index: 35;
}

.main-banner a#pause-opening {
	position: absolute;
	top: 5px;
	right: 30px;
	font-size: 45px;
	z-index: 36;
}

.main-banner a#play-opening {
	display: inline-block;
}

.main-banner #opening-banner, .main-banner a#pause-opening {
	display: none;
}

.solutions-banner {
	padding-top: 95px;
}

.solutions-banner li a {
	text-align: center;
	color: #dc5925;
}

.solutions-banner li a strong {
	display: block;
	font-weight: 400;
	font-size: 23px;
	width: 169px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-top: 15px;
}
.solutions-banner li span {
	display: block;
	width: 169px;
	height: 169px;
	background: #f39a26;
	padding-top: 50px;
	padding: 45px 35px;
	-webkit-transition: background 200ms ease-in-out;
	-ms-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
}
.solutions-banner li span:before {
	display: none;
}
.solutions-banner li span:after {
	display: none;
}
.solutions-banner li:hover span {
	background: #fff;
}

.features a h3 {
	margin-top: 17px;
	font-weight: 700;
	color: #005167;
	font-size: 20px;
	line-height: 31px;
}

.features a p {
	margin-top: 17px;
	font-weight: 400;
	color: #757777;
	font-size: 16px;
	line-height: 24px;
}
.features .controlers>span {
	top: 135px;
}

.features li a:before {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 12;
	content: "";
	background: rgba(0, 81, 103, 0.56);
	width: 270px;
	height: 270px;
	-webkit-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
}

.features li a:after, .features li a:before {
	opacity: 0;
	display: block;
}
.features li a:hover:after, .features li a:hover:before {
	opacity: 1;
	
}

.features li a:after {
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -40px;
	z-index: 13;
	content: "+";
	color: #9ed8f2;
	font-size: 42px;
	line-height: 42px;
	padding-top: 15px;
	width: 79px;
	height: 64px;
	text-align: center;
	font-weight: 300;
	background: rgba(54, 118, 137, 0.7);
	border-radius: 100px;
	-webkit-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
}

.awards .slider-features ul li a {
	height: 128px;
	width: 170px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.awards .slider-features ul li a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: filter 200ms ease-in-out;
	-ms-transition: filter 200ms ease-in-out;
	transition: filter 200ms ease-in-out;	
}

.awards .slider-features ul li a:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.clients {
	background: #eee;
	padding-bottom: 67px;
}

.clients li {
	padding-top: 67px;
}
.use-it {
	background: #eee;
	padding: 65px 0;
}
.use-it .controlers a {
	color: #b5b5b5;
}

.map {
	padding: 30px 0;
	font-size: 14px;
	color: #87888a;
}

.map #svg-map {
	margin: 0 auto;
	width: 320px;
	height: 330px;
	display: block;
}

.map #svg-map path {
	cursor: pointer;
	-webkit-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.map #svg-map path:hover, .map #svg-map path.ativo {
	fill: #0387ab;
}

.map .enderecos ul {
	display: none;
}
.map .enderecos ul li {
	margin-top: 20px;
}
.map .enderecos ul li h5 {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 5px;
}

.map .dica-mapa {
	margin-top: 150px;
}

/*

*/